# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
# используем режим обычного пользователя для сборки проекта.

# version numbers
jdk:
  - openjdk14

sudo: false

env:
  global:
    - CODECOV_TOKEN="8c50495f-3b9c-4060-ac54-c6ce790eedd9"

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонни сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash)

# Отправлять уведомление на почту mail to:youremail@smtp.ru(Изменить на свою) если сборка упала
notifications:
  email:
    recipients:
      - evgeniysanich@mail.ru
    on_success: never # default: change
    on_failure: always # default: always

services:
  - postgresql

before_install:
  - psql -c 'create database tracker;' -U postgres